<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--    在mapper.xml编写sql中，传出对象resultType使用别名，默认为类名-->
    <typeAliases>
        <package name="com.xlj.bean"/>
    </typeAliases>

</configuration>
